.jumbotron{
  border-radius: 0 0 0 75px !important;
  background-image: linear-gradient(to bottom right, #f68e73, #ef4258 ) ;
  color: whitesmoke;
}
.navbar-light .navbar-nav .nav-link {
  color: whitesmoke !important;
}
.jumbotron .btn{
  background-color: transparent;
  color: whitesmoke;
  border-radius: 16px;
}

.btn-outline-light:hover{
  color: #ef4258 !important;
}

.design_future h4{
  text-align: center;
}

.phone_row{
  background-color: #2c2e46;
  color:whitesmoke
}
.phone_col img{
  background-image: url(./images/bg-pattern-circles.svg) no-repeat;
  position: absolute;
  top: -5rem;
  right:-6rem;
  padding:0em;
}

.laptop_row{
  margin-top: 15rem;
}
.footer{
  background-color: #2d2e40;
  color: whitesmoke;
  border-radius: 0 75px 0 0;
}

.footer ul {
  list-style: none;
}