.jumbotron{
  border-radius: 0 0 0 75px !important;
  background-image: linear-gradient(to bottom right, #f68e73, #ef4258 );
  color: whitesmoke;
}

.sota{
  background-color: #41426d;
  border-radius: 0 75px 0 75px;
  color: whitesmoke;
}

.footer{
  background-color: #2d2e40;
  color: whitesmoke;
  border-radius: 0 75px 0 0;
}

.footer ul {
  list-style: none;
}